.slider__text-block_our-friends {
  padding: 143px 125px;
}

@media screen and (max-width: 1024px) {
  .slider__text-block_our-friends {
    padding: 100px 90px;
  }
}

@media screen and (max-width: 768px) {
  .slider__text-block_our-friends {
    padding: 36px 30px;
  }
}

@media screen and (max-width: 375px) {
  .slider__text-block_our-friends {
    padding: 36px 13px;
  }
}