.slider__text-block_our-friends {
  padding: 143px 125px;
}

@media screen and (max-width: 1150px) {
  .slider__text-block_our-friends {
    padding: 100px 90px;
  }
}

@media screen and (max-width: 768px) {
  .slider__text-block_our-friends {
    padding: 40px 32px 114px 32px;
  }
}

