.program__description {
  margin: 88px 0 0 124px;
  max-width: 465px;
  height: fit-content;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .program__description {
    margin: 32px 0 0 24px;
  }
}
