.header__lang {
  display: flex;
  gap: 16px; 
  list-style: none;
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .header__lang {
    gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .header__lang {
    display: none;
  }
}