.newsletter__input{
    width: 327px;
    height: 56px;
    border-radius: 56px;
    border: none;
    padding-left: 18px;
    background-image: url('../../../images/Your-email.svg');
    background-repeat: no-repeat;
    background-position: 18px;
}

.newsletter__input:focus{
    background-image: none;
}

@media screen and (max-width: 768px){
    .newsletter__input{
        max-width: 272px;
    }
}