.popup__program-title {
  grid-area: title;
  font-size: 16px;
  font-weight: 700;
  align-self: center;
  margin: 0;
  padding: 0 126px 0 16px;
}

@media screen and (max-width: 1024px) {
  .popup__program-title {
    padding: 0 16px;
  }
}