.slider__title {
  line-height: 62px;
  font-size: 58px;
  font-weight: 700;
  color: #fff;
  max-width: 790px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .slider__title {
    line-height: 40px;
    font-size: 30px;
  }
}

@media screen and (max-width: 375px) {
  .slider__title {
    line-height: 36px;
    font-size: 26px;
  }
}
