.our-values__title {
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .our-values__title {
    font-size: 32px;
  }
}
