.description__paragraph {
  grid-column-start: 2;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

@media screen and (max-width: 768px) {
  .description__paragraph {
    line-height: 23px;
  }
}
