.payform__card {
  width: 364px;
  height: 267px;
  border-radius: 8px;
  padding: 24px 32px 24px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
}

@media screen and (max-width: 1024px) {
  .payform__card {
    padding: 16px 16px 24px;
    width: auto;
    height: auto;
    gap: 8px;
  }
}

@media screen and (max-width: 374px) {
  .payform__card {
    width: 100%;
  }
}
