.blog__button{
    width: 328px;
    height: 56px;
    background-color: #F8F8F8;;
    color: #000000;
    border: none;
    border-radius: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s ease;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    transition: background-color 0.3s ease;
}

.blog__button:hover{
    /* opacity: 0.8; */
    background-color: #424242;
}