.form-containeer {
  max-width: 664px;
  min-height: 490px;
  background-color: #fff;
  padding: 56px 57px 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .form-containeer {
    min-height: 500px;
    padding: 40px 24px;
  }
}
