.header__social-icon {
  width: 24px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: opacity .2s ease-in-out;
}

.header__social-icon:hover {
  opacity: .4;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .header__social-icon {
    width: 18px;
  }
}