
/* Style Counter */
.counter {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 35px 0;
    background: #77C5D5;
}
.counter-item {
    width: 25%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.counter-title{
    font-weight: 700;
    font-size: 92px;
    line-height: 96px;
    text-align: center;
    color: #FFFFFF;

}
.counter-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 16px;
}

/*  */
@media screen and (max-width:1200px){

}


@media screen and (max-width:768px){

    .counter-title{
        font-size: 50px;
    }
    .counter-item{
        width: 50%;
        margin-top: 0px !important;
    }
}

@media screen and (max-width:576px){

    .counter-item{
        width: 100%;
        margin-top: 0px !important;
    }
    .counter-title{
        font-size: 36px;

    }
    .counter-text{
        margin-top: 0px !important;
    }
}