.slider__item_theme_six {
  background: url(../../../../images/slider-image-6.jpg) rgba(0, 0, 0, 0.3);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}
