.slider__item_theme_two {
  background: url(../../../../images/slider-image-2.png) rgba(0, 0, 0, 0.35);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}