.slider__item_theme_five {
  background: url(../../../../images/slider-image-5.png), linear-gradient(#F8F8F8 486px, #fff 60px);
  background-position: right -127px top 53px , left top;
  background-repeat: no-repeat;
  background-size: 685px 493px, 100% 100%;
  height: 546px;
}

@media screen and (max-width: 1024px) {
  .slider__item_theme_five {
    background-position: right -260px bottom, left top;
  }
 }

@media screen and (max-width: 768px) {
 .slider__item_theme_five {
   background-position: right -220px bottom, left top;
   background-size: 80%, 100% 374px;
 }
}

@media screen and (max-width: 520px) {
  .slider__item_theme_five {
    background-position: right -150px bottom, left top;
    background-size: 100%, 100% 374px;
  }
 }