.payform__period {
  position: relative;
  height: 32px;
  border: none;
  padding: 0;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .payform__period {
    margin-bottom: 32px;
  }

}
