.logo__pic {
  background: url(../../../images/icon-logo.svg);
  background-size: 23px 26px;
  background-repeat: no-repeat;
  background-position: left bottom;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 26px;
}