.blog__title-secondary{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.44;
    color: #000000;
    margin: 0 24px 0 24px;
    transition: 0.3s ease;
}

.blog__title-secondary:hover{
    color: #85CBD9;
}