.footer__text {
  font-size: 14px;
  color: #999;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .footer__text {
    font-size: 13px;
  }
}

@media screen and (max-width: 374px) {
  .footer__text {
    font-size: 11px;
  }
}