.header__button {
  background-color: #EEB250;
  border: 0;
  max-width: 212px;
  width: 100%;
  height: 100%;
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header__button:hover {
  background-color: #F0BA61;
  cursor: pointer;
}