.qustion__number {
    font-size: 46px;
    line-height: 130%;
    color: #71BBCA;
    text-align: center;
    margin: 0;
    padding: 16px 0 0 0;
}

@media screen and (max-width: 768px) {
    .qustion__number {
        font-size: 32px;
    }
  }
