.ellipse__text {
  margin: 0 auto;
  max-width: 197px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .ellipse__text {
    font-size: 14px;
    line-height: 18px;
    max-width: 130px;
  }

}
