.help-friends {
  max-width: 1134px;
  min-height: 590px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  background-color: #82607D;
  padding: 40px 32px 60px 51px;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .help-friends {
    flex-direction: column;
    padding: 8px;
    align-items: center;
  }
}
