.program__button {
  margin-top: 56px;
  width: 201px;
  height: 56px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 56px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}
