.logo__status {
  grid-area: status;
  line-height: 8px;
  font-size: 5px;
  font-weight: 400;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}