.payform__cardscontaineer {
  width: 552px;
  height: 273px;
  position: relative;
  margin-bottom: 32px;
}

@media screen and (max-width: 1024px) {
  .payform__cardscontaineer {
    width: 311px;
    height: 338px;
    margin-bottom: 24px;
    align-self: center;
  }
}

@media screen and (max-width: 1024px) {
  .payform__cardscontaineer {
    width: 270px;
  }
}
