.footer__pack {
  display: flex;
  gap: 16px;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 374px) {
  .footer__pack {
    gap: 10px;
  }
}